# Part I: Import and Inspect Data

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [2]:
google = pd.read_csv('/Users/james/Desktop/ZoomData.csv')
google.head()

        Date   Open   High    Low  Close/Price    Volume
0  4/18/2019  65.00  66.00  60.32         62.0  25764659
1  4/22/2019  61.00  68.90  59.94         65.7   9949738
2  4/23/2019  66.87  74.17  65.55         69.0   6786513
3  4/24/2019  71.40  71.50  63.16         63.2   4973529
4  4/25/2019  64.74  66.85  62.60         65.0   3863275

# Part II: Prepare the Y varible for Regression

## 2.1. Write functions to calculte the Y variable for Regression

In [3]:
#google['Open_past1'] =google['Open'].shift(1)
google['ROI']= (google['Close/Price']-google['Open'])/google['Open']
google

          Date   Open   High    Low  Close/Price    Volume       ROI
0    4/18/2019  65.00  66.00  60.32        62.00  25764659 -0.046154
1    4/22/2019  61.00  68.90  59.94        65.70   9949738  0.077049
2    4/23/2019  66.87  74.17  65.55        69.00   6786513  0.031853
3    4/24/2019  71.40  71.50  63.16        63.20   4973529 -0.114846
4    4/25/2019  64.74  66.85  62.60        65.00   3863275  0.004016
..         ...    ...    ...    ...          ...       ...       ...
937  2/16/2023  78.59  80.43  77.56        77.91   3205399 -0.008653
938  2/21/2023  74.02  75.15  72.27        72.47   2884858 -0.020940
939  2/22/2023  73.09  74.25  72.73        73.39   4489377  0.004105
940  2/23/2023  74.37  75.04  72.66        74.57   2948375  0.002689
941  2/24/2023  72.40  74.57  72.19        73.93   3062819  0.021133

[942 rows x 7 columns]

## 2.2. Make Sure that the Data Type of Y is "numeric"

In [4]:
google['ROI']=pd.to_numeric(google['ROI'])
google.dtypes

Date            object
Open           float64
High           float64
Low            float64
Close/Price    float64
Volume           int64
ROI            float64
dtype: object

# Part III: Prepare the Y variable for Classification

In [5]:
cut=0

In [6]:
google['Positive']=google['ROI']>=0
google.loc[(google['ROI'] >= cut), 'Positive'] = 1
google.loc[(google['ROI'] <cut), 'Positive'] = 0
google.head(20)

         Date   Open   High    Low  Close/Price    Volume       ROI Positive
0   4/18/2019  65.00  66.00  60.32        62.00  25764659 -0.046154        0
1   4/22/2019  61.00  68.90  59.94        65.70   9949738  0.077049        1
2   4/23/2019  66.87  74.17  65.55        69.00   6786513  0.031853        1
3   4/24/2019  71.40  71.50  63.16        63.20   4973529 -0.114846        0
4   4/25/2019  64.74  66.85  62.60        65.00   3863275  0.004016        1
5   4/26/2019  66.12  66.99  63.60        66.22   1527450  0.001512        1
6   4/29/2019  66.53  68.50  64.75        68.17   1822349  0.024651        1
7   4/30/2019  68.40  72.52  66.67        72.47   4113123  0.059503        1
8    5/1/2019  72.72  76.95  70.82        72.76   3301900  0.000550        1
9    5/2/2019  72.75  75.89  69.69        75.50   2525285  0.037801        1
10   5/3/2019  75.00  80.25  75.00        79.18   2590281  0.055733        1
11   5/6/2019  75.01  80.79  74.50        78.24   2051824  0.043061        1
12   5/7/2019  77.85  78.05  73.25        73.33   1975220 -0.058060        0
13   5/8/2019  74.61  78.50  74.03        77.68   2265503  0.041147        1
14   5/9/2019  76.85  76.99  74.00        75.21   1348243 -0.021340        0
15  5/10/2019  75.79  79.74  74.77        79.63   1555091  0.050666        1
16  5/13/2019  77.39  77.39  70.60        72.54   2873222 -0.062670        0
17  5/14/2019  74.12  76.89  73.11        73.14   1950421 -0.013222        0
18  5/15/2019  73.40  80.00  72.21        79.76   2426504  0.086649        1
19  5/16/2019  80.12  87.55  79.25        83.40   4580684  0.040939        1

#Part IV: Create the X variables

## 4.1. Shift the Y to get past values

In [7]:
google['ROI_past']=google['ROI'].shift(1)
google.head()

,Date,Open,High,Low,Close/Price,Volume,ROI,Positive,ROI_past
0,4/18/2019,65.00,66.00,60.32,62.0,25764659,-0.046154,0,NaN
1,4/22/2019,61.00,68.90,59.94,65.7,9949738,0.077049,1,-0.046154
2,4/23/2019,66.87,74.17,65.55,69.0,6786513,0.031853,1,0.077049
3,4/24/2019,71.40,71.50,63.16,63.2,4973529,-0.114846,0,0.031853
4,4/25/2019,64.74,66.85,62.60,65.0,3863275,0.004016,1,-0.114846

## 4.2. Calculate the Moving Averages

### Define the window

In [8]:
window=100

In [9]:
google['ROI_past_ma10']=google['ROI_past'].rolling(window=window,min_periods=10).mean()
google.head(20)

,Date,Open,High,Low,Close/Price,Volume,ROI,Positive,ROI_past,ROI_past_ma10
0,4/18/2019,65.00,66.00,60.32,62.00,25764659,-0.046154,0,NaN,NaN
1,4/22/2019,61.00,68.90,59.94,65.70,9949738,0.077049,1,-0.046154,NaN
2,4/23/2019,66.87,74.17,65.55,69.00,6786513,0.031853,1,0.077049,NaN
3,4/24/2019,71.40,71.50,63.16,63.20,4973529,-0.114846,0,0.031853,NaN
4,4/25/2019,64.74,66.85,62.60,65.00,3863275,0.004016,1,-0.114846,NaN
5,4/26/2019,66.12,66.99,63.60,66.22,1527450,0.001512,1,0.004016,NaN
6,4/29/2019,66.53,68.50,64.75,68.17,1822349,0.024651,1,0.001512,NaN
7,4/30/2019,68.40,72.52,66.67,72.47,4113123,0.059503,1,0.024651,NaN
8,5/1/2019,72.72,76.95,70.82,72.76,3301900,0.000550,1,0.059503,NaN
9,5/2/2019,72.75,75.89,69.69,75.50,2525285,0.037801,1,0.000550,NaN
10,5/3/2019,75.00,80.25,75.00,79.18,2590281,0.055733,1,0.037801,0.007593
11,5/6/2019,75.01,80.79,74.50,78.24,2051824,0.043061,1,0.055733,0.011970
12,5/7/2019,77.85,78.05,73.25,73.33,1975220,-0.058060,0,0.043061,0.014561
13,5/8/2019,74.61,78.50,74.03,77.68,2265503,0.041147,1,-0.058060,0.008975
14,5/9/2019,76.85,76.99,74.00,75.21,1348243,-0.021340,0,0.041147,0.011273
15,5/10/2019,75.79,79.74,74.77,79.63,1555091,0.050666,1,-0.021340,0.009098
16,5/13/2019,77.39,77.39,70.60,72.54,2873222,-0.062670,0,0.050666,0.011696
17,5/14/2019,74.12,76.89,73.11,73.14,1950421,-0.013222,0,-0.062670,0.007322
18,5/15/2019,73.40,80.00,72.21,79.76,2426504,0.086649,1,-0.013222,0.006181
19,5/16/2019,80.12,87.55,79.25,83.40,4580684,0.040939,1,0.086649,0.010416

# Part V Train and Test Split

In [10]:
from sklearn.model_selection import TimeSeriesSplit
tss = TimeSeriesSplit()
print(tss)

TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)

In [11]:
# change the train and test split parameters 
tss = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=2, test_size=None)

In [12]:
for train_idx, test_idx in tss.split(google):
    print("TRAIN:", train_idx, "TEST:", test_idx)

TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313] TEST: [314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331
 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349
 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627] TEST: [628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645
 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663
 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681
 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699
 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717
 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735
 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753
 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771
 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789
 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807
 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825
 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843
 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861
 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879
 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897
 898 899 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915
 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933
 934 935 936 937 938 939 940 941]

In [13]:
train_idx

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627])

In [14]:
test_idx

array([628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640,
       641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653,
       654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666,
       667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679,
       680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692,
       693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705,
       706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718,
       719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731,
       732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744,
       745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757,
       758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770,
       771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783,
       784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796,
       797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809,
       810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822,
       823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835,
       836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848,
       849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861,
       862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874,
       875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887,
       888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900,
       901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913,
       914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926,
       927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939,
       940, 941])

In [15]:
train_google = google.filter(items=train_idx, axis=0)
test_google =  google.filter(items=test_idx, axis=0)

In [16]:
train_google.head(20)

,Date,Open,High,Low,Close/Price,Volume,ROI,Positive,ROI_past,ROI_past_ma10
0,4/18/2019,65.00,66.00,60.32,62.00,25764659,-0.046154,0,NaN,NaN
1,4/22/2019,61.00,68.90,59.94,65.70,9949738,0.077049,1,-0.046154,NaN
2,4/23/2019,66.87,74.17,65.55,69.00,6786513,0.031853,1,0.077049,NaN
3,4/24/2019,71.40,71.50,63.16,63.20,4973529,-0.114846,0,0.031853,NaN
4,4/25/2019,64.74,66.85,62.60,65.00,3863275,0.004016,1,-0.114846,NaN
5,4/26/2019,66.12,66.99,63.60,66.22,1527450,0.001512,1,0.004016,NaN
6,4/29/2019,66.53,68.50,64.75,68.17,1822349,0.024651,1,0.001512,NaN
7,4/30/2019,68.40,72.52,66.67,72.47,4113123,0.059503,1,0.024651,NaN
8,5/1/2019,72.72,76.95,70.82,72.76,3301900,0.000550,1,0.059503,NaN
9,5/2/2019,72.75,75.89,69.69,75.50,2525285,0.037801,1,0.000550,NaN
10,5/3/2019,75.00,80.25,75.00,79.18,2590281,0.055733,1,0.037801,0.007593
11,5/6/2019,75.01,80.79,74.50,78.24,2051824,0.043061,1,0.055733,0.011970
12,5/7/2019,77.85,78.05,73.25,73.33,1975220,-0.058060,0,0.043061,0.014561
13,5/8/2019,74.61,78.50,74.03,77.68,2265503,0.041147,1,-0.058060,0.008975
14,5/9/2019,76.85,76.99,74.00,75.21,1348243,-0.021340,0,0.041147,0.011273
15,5/10/2019,75.79,79.74,74.77,79.63,1555091,0.050666,1,-0.021340,0.009098
16,5/13/2019,77.39,77.39,70.60,72.54,2873222,-0.062670,0,0.050666,0.011696
17,5/14/2019,74.12,76.89,73.11,73.14,1950421,-0.013222,0,-0.062670,0.007322
18,5/15/2019,73.40,80.00,72.21,79.76,2426504,0.086649,1,-0.013222,0.006181
19,5/16/2019,80.12,87.55,79.25,83.40,4580684,0.040939,1,0.086649,0.010416

In [17]:
test_google.head(20)

,Date,Open,High,Low,Close/Price,Volume,ROI,Positive,ROI_past,ROI_past_ma10
628,11/10/2021,257.01,259.47,249.00,251.26,4903872,-0.022373,0,-0.009924,-0.001640
629,11/11/2021,251.27,253.19,245.16,247.60,3286194,-0.014606,0,-0.022373,-0.002275
630,11/12/2021,248.38,255.14,245.53,254.97,3173610,0.026532,1,-0.014606,-0.002427
631,11/15/2021,255.00,265.33,255.00,263.71,3994862,0.034157,1,0.026532,-0.002175
632,11/16/2021,263.00,268.88,261.21,264.49,1972023,0.005665,1,0.034157,-0.002000
633,11/17/2021,264.00,266.19,261.52,263.71,2417296,-0.001098,0,0.005665,-0.001994
634,11/18/2021,260.88,263.50,254.58,255.75,2360160,-0.019664,0,-0.001098,-0.001872
635,11/19/2021,262.24,265.23,249.33,251.30,3882732,-0.041718,0,-0.019664,-0.002026
636,11/22/2021,249.26,251.70,238.20,242.28,8012833,-0.028003,0,-0.041718,-0.002787
637,11/23/2021,218.05,218.61,195.80,206.64,25297461,-0.052327,0,-0.028003,-0.003218
638,11/24/2021,203.90,211.50,202.02,208.30,9218637,0.021579,1,-0.052327,-0.003539
639,11/26/2021,235.70,235.97,219.21,220.21,10808625,-0.065719,0,0.021579,-0.003333
640,11/29/2021,216.43,219.36,208.46,218.98,7035440,0.011782,1,-0.065719,-0.003949
641,11/30/2021,220.66,221.41,207.40,211.41,5916217,-0.041920,0,0.011782,-0.004049
642,12/1/2021,211.42,211.50,196.27,197.71,7587130,-0.064847,0,-0.041920,-0.004222
643,12/3/2021,187.73,187.83,177.12,183.92,8934232,-0.020295,0,-0.064847,-0.004871
644,12/6/2021,180.64,186.13,175.27,185.84,4157872,0.028787,1,-0.020295,-0.005180
645,12/7/2021,187.85,190.87,185.58,189.06,3988298,0.006441,1,0.028787,-0.004729
646,12/8/2021,188.29,195.98,184.30,194.86,3320757,0.034893,1,0.006441,-0.004648
647,12/9/2021,195.17,198.51,185.65,188.27,3797215,-0.035354,0,0.034893,-0.003768

# Part VI Prepare the Train and Test Data for Classification and Regression

## 6.1. Classification

### 6.1.1 Define the columns (Y, X) for Classification

In [18]:
cols_C = ['Positive','ROI_past_ma10']

### 6.1.2 Define the Data Frame of Train and Test Data for Classification

In [19]:
google_C_train = train_google[cols_C]
google_C_test = test_google[cols_C]

### 6.1.3 Export the Train and Test Data for Classification

In [20]:
google_C_train.head(20)

   Positive  ROI_past_ma10
0         0            NaN
1         1            NaN
2         1            NaN
3         0            NaN
4         1            NaN
5         1            NaN
6         1            NaN
7         1            NaN
8         1            NaN
9         1            NaN
10        1       0.007593
11        1       0.011970
12        0       0.014561
13        1       0.008975
14        0       0.011273
15        1       0.009098
16        0       0.011696
17        0       0.007322
18        1       0.006181
19        1       0.010416

In [21]:
google_C_train.to_csv('Classification_Train.csv')

In [22]:
google_C_test.head(20)

    Positive  ROI_past_ma10
628        0      -0.001640
629        0      -0.002275
630        1      -0.002427
631        1      -0.002175
632        1      -0.002000
633        0      -0.001994
634        0      -0.001872
635        0      -0.002026
636        0      -0.002787
637        0      -0.003218
638        1      -0.003539
639        0      -0.003333
640        1      -0.003949
641        0      -0.004049
642        0      -0.004222
643        0      -0.004871
644        1      -0.005180
645        1      -0.004729
646        1      -0.004648
647        0      -0.003768

In [23]:
google_C_test.to_csv('Classification_Test.csv')

## 6.2 Regression

### 6.2.1. Define the columns (Y, X) for Regression

In [24]:
cols_R = ['ROI','ROI_past_ma10']

### 6.2.2. Define the Data Frame of Train and Test Data for Regression

In [25]:
google_R_train = train_google[cols_R]
google_R_test = test_google[cols_R]

### 6.2.3. Export the Train and Test Data for Regression

In [26]:
google_R_train.head(20)

         ROI  ROI_past_ma10
0  -0.046154            NaN
1   0.077049            NaN
2   0.031853            NaN
3  -0.114846            NaN
4   0.004016            NaN
5   0.001512            NaN
6   0.024651            NaN
7   0.059503            NaN
8   0.000550            NaN
9   0.037801            NaN
10  0.055733       0.007593
11  0.043061       0.011970
12 -0.058060       0.014561
13  0.041147       0.008975
14 -0.021340       0.011273
15  0.050666       0.009098
16 -0.062670       0.011696
17 -0.013222       0.007322
18  0.086649       0.006181
19  0.040939       0.010416

In [27]:
google_R_train.to_csv('Regression_Train.csv')

In [28]:
google_R_test.head(20)

          ROI  ROI_past_ma10
628 -0.022373      -0.001640
629 -0.014606      -0.002275
630  0.026532      -0.002427
631  0.034157      -0.002175
632  0.005665      -0.002000
633 -0.001098      -0.001994
634 -0.019664      -0.001872
635 -0.041718      -0.002026
636 -0.028003      -0.002787
637 -0.052327      -0.003218
638  0.021579      -0.003539
639 -0.065719      -0.003333
640  0.011782      -0.003949
641 -0.041920      -0.004049
642 -0.064847      -0.004222
643 -0.020295      -0.004871
644  0.028787      -0.005180
645  0.006441      -0.004729
646  0.034893      -0.004648
647 -0.035354      -0.003768

In [29]:
google_R_test.to_csv('Regression_Test.csv')